* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: #f0f5f9;
    color: #1d283a;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

.App {
    min-height: 100vh;
    display: flex;
}

.sideBar {
    position: fixed;
    height: 100vh;
    width: 255px;
    background: #1e293b;
}

.sideBarR {
    right: 0;
    display: flex;
    align-items: center;
}

.main {
    width: 1440px;
    padding-left: 260px; 
}

.nav-content {
    border-radius: 5px;
    padding: 15px;
    margin-left: 9px;
    margin-left: 9px;
    margin-top: 15px;
    background: #1d283a;
    color: #c8cdd2;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers content horizontally */
    justify-content: center; /* Centers content vertically if you need */
    width: 100%; /* Takes full width of its container */
}

.mainHome {
    width: 1050px;
    padding-left: 260px; 
}

.logo {
    margin-right: 1rem;
    height: 60px;
    width: 60px;
}

.brand {
    font-size: 2rem;
    color: #cbd5e1;
}

.upperSide {
    color: #cbd5e1;
    padding: 0.75rem;
    border-bottom: 1px solid #cbd5e1;
    height: 93%;
}

.listItems {
    text-decoration: none;
    color: inherit; 
    margin: 0.75rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    transition: background-color 0.3s;
    border-radius: 0.5rem;
}

.listItems:hover {
    background-color: #032a85;
}

.listItems:active {
    background-color: #1043b9; /* Background color when the item is clicked */
}

.listItems.activeLink {
    background-color: #032a85;
}


.listItemsImg {
    height: 22px;
    width: 33px;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding-right: 1rem;
}

.pageNameHome {
    font-family: sans-serif;
    margin-bottom: 15px;
    font-size: 2.3rem;
}

.pageName {
    font-family: sans-serif;
    margin-bottom: 15px;
    font-size: 2.3rem;
    margin-left: 30px;
}


.addBtn {
    height: 2rem;
    padding-right: 1rem;
}

.midBtn {
    border: none;
    margin-left: 1rem;
    font-size: 2rem;
    border-radius: 0.4rem;
    border: 1px solid rgb(201, 198, 198);
    padding: 0.2rem;
    width: 2.9rem;
    background: white;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.midBtn:hover {
    background-color: #c6d8ee; /* Background color when the item is clicked */
    border: 1px solid #c6d8ee;
}

.trainBtn{
    border: none;
    margin-left: 2.5rem;
    font-size: 1.75rem;
    border-radius: 0.4rem;
    border: 1px solid rgb(201, 198, 198);
    padding: 0.5rem;
    width: 14rem;
    background: white;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.trainBtn:hover {
    background-color: #c6d8ee; /* Background color when the item is clicked */
    border: 1px solid #c6d8ee;
}

.query {
    display: flex;
    align-items: center;
    background: white;
    color: #1e293b;
    padding: 1.5rem;
    width: 220px;
    margin: 1rem auto;
    border-radius: 0.5rem;
    border: 1px solid #cbd5e1;
}

.query>img {
    margin-right: 2rem;
    object-fit: cover;
    height: 1.7rem;
}

.main {
    font-family: 'Poppins', sans-serif;
    min-height: calc(100vh - 14rem);
    display: flex;
    flex-direction: column;
    margin: 3.6rem 3rem;
    margin-bottom: 0;
}

.mainHome {
    font-family: 'Poppins', sans-serif;
    min-height: calc(100vh - 14rem);
    display: flex;
    flex-direction: column;
    margin: 3.6rem 6rem;
    margin-bottom: 0;
}


.chats {
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none; /* For Firefox */
	-ms-overflow-style: none; /* For Internet Explorer and Edge */
    width: 100%;
    max-width: 68rem;
    margin-left: 20px;
    height: calc(100vh - 17rem);
}

.chats::-webkit-scrollbar {
	display: none;
}

.chat {
    margin: 1rem;
    padding: 2rem 3rem;
    font-size: 1.2rem;
    display: flex;
    align-items: flex-start;
    text-align: justify;
    background: white;
    border-radius: 0.5rem;
}

.txt {
    line-height: 2.3rem;
    position: relative;
}

.chat-bot {
    margin: 1rem;
    padding: 2rem 3rem;
    font-size: 1.2rem;
    display: flex;
    align-items: flex-start;
    text-align: justify;
}

.chatImg {
    object-fit: cover;
    width: 3.5rem;
    margin-right: 2rem;
    border-radius: 0.5rem;
}

.msg_time{
	position: absolute;
	left: 0;
	bottom: -2.3rem;
	color: #1d283a;
	font-size: 10px;
}
/*---------------------------*/
.img-fluid {
	height: 10px;
    width: 10px;
	bottom: -50%;
}
/*---------------------------*/
.chatFooter {
    margin-top: auto;
    margin-left: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inp {
    padding: 0.5rem;
    background: #1e293b;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    width: 700px;
}

.inp>input {
    width: calc(100% - 3rem);
    outline: none;
    padding: 1.25rem;
    color: #cbd5e1;
}

.inp>input, .send {
    background: transparent;
    border: none;
}

.chatFooter>p {
    margin: 12px 0;
    padding-left: 12rem;
}

.param-form {
    margin-left: 30px;
}

.form-item {
    /* Flex-direction column makes items stack vertically */
    display: flex;
    flex-direction: column;
    margin-right: 15px; /* Space between form items */
    margin-bottom: 15px; /* Space below each form item */
    flex-basis: calc(25% - 15px); /* Adjusts the item width to fit 3 per row, accounting for margin */
}
  
.form-item label {
    margin-bottom: 5px; /* Space between label and input */
    font-size: 14px;
}
  
/* Adjust this as necessary to prevent the last item in a row from having a margin */
.form-row .form-item:last-child {
    margin-right: 0;
}
  
/* This makes sure the file input aligns with the rest */
input[type="file"] {
    display: inline-block;
}
  
.form-row {
    display: flex;
    flex-wrap: wrap;
}
  
  /* The submit button needs to be full width */
.form-btn {
    flex-basis: 100%;
}

.form-input{
    height: 4rem;
    border: 1px solid #cbd5e1;
    border-radius: 7px;
    font-size: 15px;
}

.form-input:focus {
    outline-color: #2453c0;
    transition: border 0.3s ease-in-out;
}

.form-item input[type="text"],
.form-item input[type="number"] {
    padding-left: 15px;
}

.form-item input[type="file"] {
    width: 100%; /* Full width of its container */
}
  
.form-item input[type="file"]::file-selector-button {
    margin-right: 20px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    border: 1px solid #cbd5e1;
    background-color: white;
    border-radius: 7px;
}

.form-item input[type="file"]::file-selector-button:hover {
    background-color: #c6d8ee; /* Background color when the item is clicked */
    border: 1px solid #c6d8ee;
}

.form-btn {
    margin-top: 5px;
    border: none;
    font-size: 17px;
    border-radius: 0.4rem;
    border: 1px solid rgb(201, 198, 198);
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background: white;
    align-items: center;
    transition: background-color 0.3s;
}

.form-btn:hover {
    background-color: #c6d8ee; /* Background color when the item is clicked */
    border: 1px solid #c6d8ee;
}