* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: #f0f5f9;
    color: #1d283a;
    font-family: sans-serif;
    margin: 0;
    border-radius: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

.App {
    min-height: 100vh;
    display: flex;
}

.sideBar {
    position: fixed;
    height: 100vh;
    width: 255px;
    background: #1e293b;
}

.sideBarR {
    right: 0;
    display: flex;
    align-items: center;
}

.main {
    width: 1440px;
    padding-left: 260px; 
}

.nav-content {
    border-radius: 4px;
    background: #1d283a;
    color: #c8cdd2;
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 15px;
    margin: 15px 9px; /* Fixed duplicated margin-left property */
}

.nav-header {
    position: absolute;
    top: 0;
    left: 5px;
    right: 5px;
    padding-top: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.nav-date {
    color: #ffffff;
    font-size: 10px;
    margin: 0;
    flex-grow: 0;;
}

.border-edge {
    flex-grow: 1;
    background-color: black;
    height: 0.7px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.mainHome {
    width: 1050px;
    padding-left: 260px; 
}

.logo {
    margin-right: 1rem;
    height: 60px;
    width: 60px;
}

.brand {
    font-size: 2rem;
    color: #cbd5e1;
}

.upperSide {
    color: #cbd5e1;
    padding: 0.75rem;
    border-bottom: 1px solid #cbd5e1;
    height: 93%;
}

.listItems {
    text-decoration: none;
    color: inherit; 
    margin: 0.75rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    transition: background-color 0.3s;
    border-radius: 0.5rem;
}

.listItems:hover {
    background-color: #032a85;
}

.listItems:active {
    background-color: #1043b9; /* Background color when the item is clicked */
}

.listItems.activeLink {
    background-color: #032a85;
}


.listItemsImg {
    height: 22px;
    width: 33px;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding-right: 1rem;
}

.pageNameHome {
    font-family: sans-serif;
    margin-bottom: 15px;
    font-size: 2.3rem;
}

.pageName {
    font-family: sans-serif;
    margin-bottom: 15px;
    font-size: 2.3rem;
    margin-left: 30px;
}


.addBtn {
    height: 2rem;
    padding-right: 1rem;
}

.midBtn {
    border: none;
    margin-left: 1rem;
    font-size: 2rem;
    border-radius: 0.4rem;
    border: 1px solid rgb(201, 198, 198);
    padding: 0.2rem;
    width: 2.9rem;
    background: white;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.midBtn:hover {
    background-color: #c6d8ee; /* Background color when the item is clicked */
    border: 1px solid #c6d8ee;
}

.trainBtn{
    border: none;
    margin-left: 2.5rem;
    font-size: 1.75rem;
    border-radius: 0.4rem;
    border: 1px solid rgb(201, 198, 198);
    padding: 0.5rem;
    width: 14rem;
    background: white;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.trainBtn:hover {
    background-color: #c6d8ee; /* Background color when the item is clicked */
    border: 1px solid #c6d8ee;
}

.query {
    display: flex;
    align-items: center;
    background: white;
    color: #1e293b;
    padding: 1.5rem;
    width: 220px;
    margin: 1rem auto;
    border-radius: 0.5rem;
    border: 1px solid #cbd5e1;
}

.query>img {
    margin-right: 2rem;
    object-fit: cover;
    height: 1.7rem;
}

.main {
    font-family: 'Poppins', sans-serif;
    min-height: calc(100vh - 14rem);
    display: flex;
    flex-direction: column;
    margin: 3.6rem 3rem;
    margin-bottom: 0;
}

.mainHome {
    font-family: 'Poppins', sans-serif;
    min-height: calc(100vh - 14rem);
    display: flex;
    flex-direction: column;
    margin: 3.6rem 6rem;
    margin-bottom: 0;
}


.chats {
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none; /* For Firefox */
	-ms-overflow-style: none; /* For Internet Explorer and Edge */
    width: 100%;
    max-width: 68rem;
    margin-left: 20px;
    height: calc(100vh - 17rem);
}

.chats::-webkit-scrollbar {
	display: none;
}

.chat {
    margin: 1rem;
    padding: 2rem 3rem;
    font-size: 1.2rem;
    display: flex;
    align-items: flex-start;
    text-align: justify;
    background: white;
    border-radius: 0.5rem;
}

.txt {
    line-height: 2.3rem;
    position: relative;
}

.chat-bot {
    margin: 1rem;
    padding: 2rem 3rem;
    font-size: 1.2rem;
    display: flex;
    align-items: flex-start;
    text-align: justify;
}

.chatImg {
    object-fit: cover;
    width: 3.5rem;
    margin-right: 2rem;
    border-radius: 0.5rem;
}

.msg_time{
	position: absolute;
	left: 0;
	bottom: -2.3rem;
	color: #1d283a;
	font-size: 10px;
}
/*---------------------------*/
.img-fluid {
	height: 10px;
    width: 10px;
	bottom: -50%;
}
/*---------------------------*/
.chatFooter {
    margin-top: auto;
    margin-left: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inp {
    padding: 0.5rem;
    background: #1e293b;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    width: 700px;
}

.inp>input {
    width: calc(100% - 3rem);
    outline: none;
    padding: 1.25rem;
    color: #cbd5e1;
}

.inp>input, .send {
    background: transparent;
    border: none;
}

.chatFooter>p {
    margin: 12px 0;
    padding-left: 12rem;
}

.param-form {
    margin-left: 30px;
}

.form-item {
    /* Flex-direction column makes items stack vertically */
    display: flex;
    flex-direction: column;
    margin-right: 15px; /* Space between form items */
    margin-bottom: 15px; /* Space below each form item */
    flex-basis: calc(25% - 15px); /* Adjusts the item width to fit 3 per row, accounting for margin */
}
  
.form-item label {
    margin-bottom: 5px; /* Space between label and input */
    font-size: 14px;
}
  
/* Adjust this as necessary to prevent the last item in a row from having a margin */
.form-row .form-item:last-child {
    margin-right: 0;
}
  
/* This makes sure the file input aligns with the rest */
input[type="file"] {
    display: inline-block;
}
  
.form-row {
    display: flex;
    flex-wrap: wrap;
}
  
  /* The submit button needs to be full width */
.form-btn {
    flex-basis: 100%;
}

.form-input{
    height: 4rem;
    border: 1px solid #cbd5e1;
    border-radius: 7px;
    font-size: 15px;
}

.form-input:focus {
    outline-color: #2453c0;
    transition: border 0.3s ease-in-out;
}

.form-item input[type="text"],
.form-item input[type="number"],
.form-item input[type="url"] {
    padding-left: 15px;
}

.form-item input[type="file"] {
    width: 100%; /* Full width of its container */
}
  
.form-item input[type="file"]::file-selector-button {
    margin-right: 20px;
    height: 4rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    border: 1px solid #cbd5e1;
    background-color: white;
    border-radius: 7px;
}

.form-item input[type="file"]::file-selector-button:hover {
    background-color: #c6d8ee; /* Background color when the item is clicked */
    border: 1px solid #c6d8ee;
}

.form-btn {
    margin-top: 5px;
    border: none;
    font-size: 17px;
    border-radius: 0.4rem;
    border: 1px solid #cbd5e1;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background: white;
    align-items: center;
    transition: background-color 0.3s;
}

.form-btn:hover {
    background-color: #c6d8ee; /* Background color when the item is clicked */
    border: 1px solid #c6d8ee;
}

.data-btn {
    margin-top: 25px;
    height: 4rem;
    border: none;
    font-size: 16px;
    border-radius: 7px;
    border: 1px solid #cbd5e1;
    background: white;
    align-items: center;
    transition: background-color 0.3s;
}

.data-btn:hover {
    background-color: #c6d8ee; /* Background color when the item is clicked */
    border: 1px solid #c6d8ee;
}

.data-logs {
    border-radius: 4px;
    background: #1d283a;
    color: #c8cdd2;
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content vertically if needed */
    width: 100%; /* Takes full width of its container */
    position: relative;
    padding-top: 40px; /* Adjusted to fit the date header inside */
    padding-left: 20px;
    padding-right: 20px; /* Add right padding to match the left */
    padding-bottom: 15px; /* Maintain padding on the bottom */
}

.data-header {
    position: absolute;
    top: 0;
    left: 5px; /* Start the header with a 5px space from the left edge */
    right: 5px; /* End the header with a 5px space from the right edge */
    padding-top: 15px;
    box-sizing: border-box;
    display: flex; /* Use flex to align the date */
    justify-content: space-between; /* Aligns the date to the left and borders to the edges */
}

/* The date will now be a flex item, so we don't need pseudo-elements */
.data-date {
    color: #ffffff;
    font-size: 10px;
    margin: 0; /* Remove any default margins */
    flex-grow: 0; /* Prevent the date from growing */
}

/* Create left and right border elements */
.border-edge {
    flex-grow: 1; /* Make the borders grow to fill space */
    background-color: black; /* Color for the borders */
    height: 0.7px; /* Height of the border */
    margin-top: auto; /* Align to the bottom of the header */
    margin-bottom: auto; /* Align to the bottom of the header */
    margin-left: 10px; /* Space from the date or left edge */
    margin-right: 10px; /* Space from the date or right edge */
}

.data-table {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.data-table th, .data-table td {
    border: 1px solid #ccc;
    text-align: center;
    padding: 5px;
}

.data-title {
    background-color: #66bcf3;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.data-title-first {
    background-color: #66bcf3;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.data-files {
    margin-left: 30px;
}

.data-file {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.data-info {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-bottom: 5px;
}

.progress-log {
    display: flex;
    justify-content: space-between;
    margin-left: 3px;
    margin-right: 15px;
    margin-bottom: 5px;
}

.upload-time {
    color: #8d8f92; /* White text color */
    font-size: 0.8em; /* Smaller font size */
    margin-left: 10px; /* Add some space before the time */
    border-radius: 4px; /* Optional: round the corners */
}

.upload-time-prg {
    color: #8d8f92; /* White text color */
    font-size: 0.8em; /* Smaller font size */
    margin-left: 10px; /* Add some space before the time */
    border-radius: 4px; /* Optional: round the corners */
}

.progress-info {
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
}

.content-time {
    color: #8d8f92; /* White text color */
    font-size: 0.8em; /* Smaller font size */
    margin-left: 10px; /* Add some space before the time */
    border-radius: 4px; /* Optional: round the corners */
}

.train-content {
    border-radius: 4px;
    background: #1d283a;
    color: #c8cdd2;
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 15px;
    margin: 15px 9px; /* Fixed duplicated margin-left property */
}

.train-date {
    position: absolute;
    top: 0;
    left: 5px; /* Start the header with a 5px space from the left edge */
    right: 5px; /* End the header with a 5px space from the right edge */
    padding-top: 15px;
    box-sizing: border-box;
    display: flex; /* Use flex to align the date */
    justify-content: space-between; /* Aligns the date to the left and borders to the edges */
}

.bigram-table {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(28px, 1fr));
    overflow: auto; /* For scrolling */
}

.bigram-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #1d283a;
    font-size: 9px;
    color: black; 
    padding: 5px;
}

.bigram-label {
    font-weight: bold;
}

.bigram-count {
    opacity: 0.75;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
